<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oauth</title>
<style>
    body {
        padding: 0;
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
    nav {
        background: salmon;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    ul {
        display: flex;
        justify-content: space-between;
        width: 250px;
    }
    
    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: white;
        padding: .5em .9em;
        background: #ff6554;
        border: #ffffff70 1px solid;
        border-radius: 3px;
    }

    main {
        padding-left: 40px;
    }

    .profile-image {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
</style>
</head>
<body>
    <nav>
        <ul>
            <% if(user) { %>
            <li><a href="/auth/logout">Logout</a></li>
            <% } else { %>
            <li><a href="/auth/login">Login</a></li>
            <% } %>
            <li><a href="/">Home</a></li>
            <li><a href="/Profile">Profile</a></li>
        </ul>
    </nav>
    
    <main>
        <h2>Your Profile</h2>
        
        <img class="profile-image" src="<%= user.thumbnail %>">

        <p>You are signed in as: <strong><%= user.username %></strong></p>
    </main>
</body>
</html>